* {
  box-sizing: border-box;
}

:root {
  --grid-square-width: 40px;
  --destroyer-width: 80px;
  --cruiser-width: 120px;
  --battleship-width: 160px;
  --carrier-width: 200px;
}

.game {
  display: flex;
  justify-content: center;
}

.gameboard {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid-square {
  border: 1px solid #bada55;
  width: var(--grid-square-width);
  height: var(--grid-square-width);
}

.drag-ships {
  position: absolute;
  top: 5em;
  left: 2em;
}

.drag-ships .ship {
  height: var(--grid-square-width);
  /* background-color: #000; */
  margin-top: 10px;
}

.drag-ships .ship.vertical {
  width: var(--grid-square-width);
}

.destroyer {
  background-color: red;
  width: var(--destroyer-width);
}

.cruiser {
  background-color: orange;
  width: var(--cruiser-width);
}

.battleship {
  background-color: green;
  width: var(--battleship-width);
}

.carrier {
  background-color: yellow;
  width: var(--carrier-width);
}

.destroyer.vertical {
  height: var(--destroyer-width);
}

.cruiser.vertical {
  height: var(--cruiser-width);
}

.battleship.vertical {
  height: var(--battleship-width);
}

.carrier.vertical {
  height: var(--carrier-width);
}

.attacked.grid-square {
  border: 2px solid orchid;
}

.attacked.missed.grid-square {
  background-color: #bada55;
}

.attacked.hit.grid-square {
  background-color: maroon;
}

.grid-square.ship {
  background-color: pink;
}
